# === Go ===
services/grpc-go/tmp/
*.exe
*.test
*.out

# === Java ===
services/rmi-java/**/target/
*.class
*.jar
*.war
*.iml
.idea/

# === Node.js ===
services/web-node/node_modules/
services/web-node/dist/
services/web-node/.env

# === PHP ===
services/soap-php/vendor/
services/soap-php/.env

# === General ===
.DS_Store
*.log
*.tmp
.env
*.swp
*~

# === IDE ===
.vscode/
.idea/
*.iml

# === TLS (nunca subir claves privadas) ===
infrastructure/tls/ca/*.key
infrastructure/tls/ca/*.pem
!infrastructure/tls/ca/README.md